fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-utils
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose
alembic
python-multipart
pydantic
pydantic-settings
pydantic[email]
minio
qdrant-client
llama-index
llama-index-embeddings-huggingface
llama-index-llms-ollama
llama-index-vector-stores-qdrant
PyPDF2
sentence-transformers
fastembed
fastembed-gpu
